<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.testlaunchmodea"
          android:sharedUserId="com.testcomponent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="action_main"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityA"
            android:process=":locker"
            android:taskAffinity="com.test">
            <intent-filter>
                <action android:name="action_a"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityB"
            android:launchMode="singleTask"
            android:process=":locker1"
            android:taskAffinity="ddd.ddd">
            <intent-filter>
                <action android:name="action_b"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        <!--android:launchMode="singleTask"-->
        <!--android:taskAffinity="ddd.ddd"-->
        <activity
            android:name=".ActivityC"
            android:launchMode="singleTask"
            android:process=":locker3">
            <intent-filter>
                <action android:name="action_c"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".NewDocumentActivity">
            <intent-filter>
                <action android:name="action_new"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".DocumentCentricActivity">
            <intent-filter>
                <action android:name="action_documentCentric"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>